<app-header></app-header>
<app-scroll></app-scroll>

<div class="n-big-on-sustainability-container">
  <div class="n-big-on-sustainability-heading">We’re big on Sustainability</div>
  <div class="n-big-on-sustainability-description">
    This will begin to make things right. I've traveled too far, and seen too
    much, to ignore the despair in the galaxy. I've traveled too far, and seen
    too much, to ignore the despair in the galaxy.
  </div>
  <div class="n-big-on-sustainability-learn-more">
    Learn More →
  </div>
  <div class="n-flex-container">
    <div>
        <img class="n-item-image" src="../assets/image825.png" alt="img"/>
        <div class="n-item-header">
            We’ve a plan
        </div>
        <div class="n-item-description">
            We’re here to help our customers succeed, and that’s something we hear back from our customers. They just love our airport.
        </div>
    </div>
    <div>
        <img class="n-item-image" src="../assets/image825.png" alt="img"/>
        <div class="n-item-header">
            Using Natural
        </div>
        <div class="n-item-description">
            We’re here to help our customers succeed, and that’s something we hear back from our customers. They just love our airport.
        </div>
    </div>
    <div>
        <img class="n-item-image" src="../assets/image825.png" alt="img"/>
        <div class="n-item-header">
            Less Power
        </div>
        <div class="n-item-description">
            We’re here to help our customers succeed, and that’s something we hear back from our customers. They just love our airport.
        </div>
    </div>
    <div>
        <img class="n-item-image" src="../assets/image825.png" alt="img"/>
        <div class="n-item-header">
            Intent
        </div>
        <div class="n-item-description">
            We’re here to help our customers succeed, and that’s something we hear back from our customers. They just love our airport.
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
